# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs and databases
*.log
*.sqlite3

# Export files
src/export_*.csv
src/export_*.xlsx

# Local configuration
.env
config.ini

# Windows specific
Thumbs.db
desktop.ini

# macOS specific
.DS_Store
/.cursor/
